<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>dashBoard</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
</head>

<body>
<div>

  <div class="container text-center">
    <h1>欢迎使用问卷调查系统</h1>
  </div>

  <div id="container">
    <div class="row">
      <div class="col-12">
        <div id="menu">
          <div class="list-group">
            <b>功能选择</b>
            <a class="list-group-item list-group-item-action list-group-item-info"
               href="/questionnaire/create">创建新问卷</a>
            <a class="list-group-item list-group-item-action list-group-item-info"
               href="/questionnaire/created">查看已创建的问卷</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

